<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densityDpi=device-dpi" />
    <title></title>
    <!-- Bootstrap Core CSS -->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
   <link rel="stylesheet" href="../css/index.css">
   <!-- //lined-icons -->
  </head>
  <body >

<div class="relayPanelWrapper">


    <div class="calibrationPanel">
    <div class="header"> <img src="../css/Capture.JPG" alt="Couldn't load" class=".landscape"> <i class="fas fa-bars"></i> <i class="fas fa-user-circle"></i></div>
      <div class="panelDescriptor">
        <h4>CALIBRATION <span>MODE</span></h4>
        <h1><i class="fas fa-bell"></i></h1>
      </div>
      <div class="validation">
        <button type="button" name="save">Save</button>
        <button type="button" name="test">Test</button>
        <button type="button" name="cancel">Cancel</button>
      </div>
      <div class="controls">
          <div class="controller">
            <div class="checkBox"><i class="fas fa-calendar-check"></i></div>
            <input type="number" name="runtime" placeholder="Run Time">
            <input type="text" name="description" placeholder="Description">
            <select class="relaySelect" name="relaySelect">
              <option value="temperature">Temperature</option>
              <option value="weight">Weight</option>
            </select>
            <input type="number" name="min" placeholder="Min">
            <input type="number" name="max" placeholder="Max">
            <div class="relay"><i class="fas fa-microchip"></i>1</div>
          </div>
          <div class="controller">
            <div class="checkBox"><i class="fas fa-calendar-check"></i></div>
            <input type="number" name="runtime" placeholder="Run Time">
            <input type="text" name="description" placeholder="Description">
            <select class="relaySelect" name="relaySelect">
              <option value="temperature">Temperature</option>
              <option value="weight">Weight</option>
            </select>
            <input type="number" name="min" placeholder="Min">
            <input type="number" name="max" placeholder="Max">
            <div class="relay"><i class="fas fa-microchip"></i>1</div>
          </div>
          <div class="controller">
            <div class="checkBox"><i class="fas fa-calendar-check"></i></div>
            <input type="number" name="runtime" placeholder="Run Time">
            <input type="text" name="description" placeholder="Description">
            <select class="relaySelect" name="relaySelect">
              <option value="temperature">Temperature</option>
              <option value="weight">Weight</option>
            </select>
            <input type="number" name="min" placeholder="Min">
            <input type="number" name="max" placeholder="Max">
            <div class="relay"><i class="fas fa-microchip"></i>1</div>
          </div>
      </div>
    </div>

</div>



        <script src="../js/jquery-1.10.2.min.js"></script>
        <script src="../js/jquery.nicescroll.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/index.js"></script>

  </body>
</html>
