<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../css/index.css">
  </head>
  <body>
    <div class="homeWrapper">
      <div class="home">
        <div class="homeHeader">
          <h1>PAEPACK</h1>
          <h6>Build To Last. Reliabe Is What We Do.</h6>
        </div>
        <form method="post">
          <input type="text" name="email" placeholder="E-mail">
          <input type="password" name="password" placeholder="Password">
          <button type="button" name="button">Login</button>
          <button type="button" name="button">Subscribe</button>
        </form>
      </div>
    </div>

  </body>
</html>
