<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../css/index.css">
  </head>
  <body>
    <div class="login">
      <div class="loginHeader">
        <h1>PAEPACK <span>TM</span> </h1>
        <h6>BUILD TO LAST.RELIABLE IS WHAT WE DO.</h6>
      </div>
      <form method="post">
        <h1>STATISTICAL PROCESS CONTROL <span>SPC</span> </h1>
        <input type="text" name="email" placeholder="E-mail">
        <input type="password" name="password" placeholder="Password">
        <button type="button" name="login">Login</button>
        <button type="button" name="subscribe">Subscribe</button>
        <div class="forgotOptions"> <button type="button" name="forgotPassword">Forgot password</button> <button type="button" name="user_name"> Forgot Username</button> </div>
        <h6>NEED SUPPORT? CALL US AT +1(800)5 55-5555 | SPC@PAEPACK.com</h6>
      </form>
    </div>

  </body>
</html>
