<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0" />
    <title></title>
    <!-- Bootstrap Core CSS -->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
   <link rel="stylesheet" href="../css/index.css">
   <!-- //lined-icons -->
  </head>
  <body >

<div class="motorPanelWrapper">

    <div class="calibrationPanel">
    <div class="header"> <div class="landscape"><img src="../css/Capture.JPG" alt="Couldn't load" ></div>  <i class="fas fa-bars"></i> <i class="fas fa-user-circle"></i></div>
      <div class="panelDescriptor">
        <h4>CALIBRATION <span>MODE</span></h4>
        <canvas data-type="radial-gauge"
                data-width="200"
                data-height="200"
                data-units="m/s"
                data-value="37.5"></canvas>
      </div>
      <div class="validation">
        <button type="button" name="save">Save</button>
        <button type="button" name="cancel">Cancel</button>
      </div>
      <div class="controls">
        <div class="controller weightController">
          <div class="weight"><i class="fas fa-tachometer-alt"></i></div>
          <input type="range" min="1" max="100" value="50" class="slider" name="speedRange">
          <input type="number" name="speedRange" value="">
          <button type="button" name="setSpeed">Set Speed</button>
        </div>
      </div>

    </div>

</div>



        <script src="../js/jquery-1.10.2.min.js"></script>
        <script src="../js/jquery.nicescroll.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="https://cdn.rawgit.com/Mikhus/canvas-gauges/gh-pages/download/2.1.5/all/gauge.min.js"></script>
        <script src="../js/index.js"></script>

  </body>
</html>
