<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css">
  </head>
  <body>
    <div class="productPanelWrapper">
      <div class="productPanel">
        <div class="header"> <div class="landscape"><img src="./css/Capture.JPG" alt="Couldn't load" ></div>  <i class="fas fa-bars"></i> <i class="fas fa-user-circle"></i></div>

        <div class="indicators">
          <div class="productDetails">
            <h3 id="product_name">Waldorf SALAD</h3>
            <h2 id="operating_mode">MODE <span>PASSIVE</span></h2>
            <p id="operator"> Miguel </p>
            <p id="code_date"> 10/29/2018 </p>
            <p id="upc"> 850195003023 </p>
            <p id="po"> 821887 </p>
            <div class="detailsButtons">
              <button type="button" name="audit">Audit</button>
              <button type="button" name="passive">Passive</button>
            </div>
          </div>

          <div class="indicator">
            <h6>Temperature</h6>
            <h5 id="dashTemperature">23C°</h5>
            <h6>Good</h6>
          </div>
          <div class="indicator">
            <h6>Weight</h6>
            <h5 id="dashWeight" >8.65</h5>
            <h6>Lbs</h6>
          </div>
          <div class="indicator">
            <h6>LSL</h6>
            <h5 id="LSL">8.6</h5>
            <h6>lbs</h6>
          </div>
          <div class="indicator">
            <h6>USL</h6>
            <h5 id="USL">8.8</h5>
            <h6>lbs</h6>
          </div>
        </div>

        <div class="table">

          <table>
            <tr>
              <th>Sample#</th>
              <th>Date</th>
              <th>Case Weight</th>
              <th>Measured Weight</th>
              <th>Temperature</th>
              <th>Status</th>
            </tr>

          </table>

        </div>
      </div>
    </div>
  </body>
</html>
