<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css">
  </head>
  <body>
    <div class="selectProductWrapper">
      <div class="selectProduct">
        <div class="steps">
          Step 1: Login <i class="fas fa-play"></i> Step 2: Select Product <i class="fas fa-play"></i> Step 3: Run Product
        </div>
        <h3>Choose Product</h3>
        <select name="products">
          <option value="Waldorf Salad">Waldorf Salad</option>
        </select>
        <input type="text" name="po" placeholder="PO#*">
        <input type="text" name="code_date" placeholder="Code Date*">
        <button type="button" name="button">Enter</button>
      </div>
    </div>
  </body>
</html>
