<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../css/index.css">
  </head>
  <body>
    <div class="subscribeWrapper">
      <div class="subscribe">
        <div class="subscribeHeader">
          <h1>PAEPACK <span>TM</span> </h1>
          <h6>BUILD TO LAST.RELIABLE IS WHAT WE DO.</h6>
        </div>
        <form method="post">
          <h1>Welcome!</h1>
          <h3><div class="sidebar"></div>Signup And Start Using The Most Reliable And User Friendly SPC Platform</h3>
          <input type="text" name="user_name" placeholder="Username (Required)">
          <input type="password" name="password" placeholder="Password (Required)">
          <input type="text" name="company_name" placeholder="Company Name">
          <input type="text" name="email" placeholder="E-mail (Required)">
          <input type="file" name="logo" accept="image/*"></input>
          <div class="registerOptions"> <button type="button" name="register">Register</button> <button type="button" name="reset" > Reset </button> </div>
        </form>
      </div>
    </div>
  </body>
</html>
