<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css">
  </head>
  <body>
    <div class="loginWrapper">
      <div class="login">
        <div class="steps">
          Step 1: Login <i class="fas fa-play"></i> Step 2: Select Product <i class="fas fa-play"></i> Step 3: Run Product
        </div>
        <div class="keypad">
          <div class="keyRow">
            <button type="button" name="button">1</button>
            <button type="button" name="button">2</button>
            <button type="button" name="button">3</button>
          </div>
          <div class="keyRow">
            <button type="button" name="button">4</button>
            <button type="button" name="button">5</button>
            <button type="button" name="button">6</button>
          </div>
          <div class="keyRow">
            <button type="button" name="button">7</button>
            <button type="button" name="button">8</button>
            <button type="button" name="button">9</button>
          </div>
          <div class="password">
            <input type="password" name="password" placeholder="********" pattern="[0-9]*" inputmode="numeric">
            <button type="button" name="login">Login</button>
          </div>

        </div>

      </div>
    </div>
    <script src="../js/jquery-1.10.2.min.js"></script>
    <script src="../js/pagesEffects.js"></script>
  </body>
</html>
